@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-verde-agua: blue;
    --cor-azul-escuro: #5B72EE;
    --cor-azul-claro: #29B9E6;
    --cor-texto: #696984;
    --cor-fundo-branco: #FFFFFF;
    --fonte-titulo-link: "Poppins", serif;
    --fonte-texto: "Nunito Sans", serif;
}

body {
    position: relative;
    min-height: 100vh;
}

.main__banner {
    display: flex;
    background-color: blue;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 1.5%;
    gap: 3%;
}

.main__banner__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font: var(--fonte-texto);
    color: var(--cor-fundo-branco);
    font-size: 24px;
    padding-bottom: 5%;
    padding-left: 5%;
    line-height: 1.6;
}

.main__banner__info__titulo {
    font-family: var(--fonte-titulo-link);
    font-size: 50px;
}

.main__info__botao {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;
}

.main__banner__info__botao__1 {
    text-decoration: none;
    font-family: var(--fonte-titulo-link);
    background-color: var(--cor-fundo-branco);
    color: var(--cor-texto);
    font-size: 0.9em;
    border: 0;

    border-radius: 15px;
    width: 320px;
    height: 60px;
    text-align: center;
    font-weight: 500;
    align-content: center;
}

.main__banner__info__botao__2 {
    text-decoration: none;
    font-family: var(--fonte-titulo-link);
    background-color: var(--cor-fundo-branco);
    color: var(--cor-texto);
    font-size: 0.9em;
    border: 0;
    border-radius: 15px;
    width: 350px;
    height: 60px;
    text-align: center;
    font-weight: 500;
    align-content: center;
}

.main__banner__img {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    padding-right: 3%;
}